@model LearningCenterWebsite.Models.RegisterModel

@{ ViewData["Title"] = "Error"; }

<h1>@ViewData["Title"]</h1>

<p>A system error has been detected.  A notification has been sent to the development team</p>
