@model LearningCenterWebsite.Models.UserClassModel[]

@{
    ViewData["Title"] = "Student Classes";
}

<style>
    .col1 {
        text-align: left;
    }

    .col2 {
        width: 40%;
    }
</style>

<h1>@ViewData["Title"]</h1>

<hr />

@if (Model.Length > 0)
{
    <div class="row1">
        <div class="col1 font-weight-bold">Name</div>
        <div class="col2 font-weight-bold">Description</div>
        <div class="col font-weight-bold">Paid</div>
    </div>

    <hr />

    @foreach (var item in Model)
    {
        <div class="row1">
            <div class="col1">@item.MyClassModel.ClassName</div>
            <div class="col2">@item.MyClassModel.ClassDescription</div>
            <div class="col">@item.MyClassModel.ClassPrice.ToString("C")</div>
        </div>
        <hr />
    }
}
else
{
    <p>No class found.</p>

    <hr />
}


@if (Model.Length == 4)
{
    <p><i>Congratulations! You have enrolled in all Learning Center's classes.</i></p>
}
else if (Model.Length < 4)
{
    <a asp-action="EnrollInClass">Enroll in Class</a>
}
